{% extends 'base.html' %}

{% block title %}Games{% endblock %}

{% block content %}
<div class="container">
    <h1 class="section-title">Games</h1>
    <div class="game-list">
        {% for game in games %}
        <div class="game-item">
            <div class="game-header">
                <p>{{ game.get_game_title }}<a style="font-weight:normal"> - {% if game.in_progress %} In progress {% else %} Completed {% endif %}</a></p> 
            </div>
            <p>Date: {{ game.date|date:"d M Y" }}</p>
            <a href="{% url 'game-detail' game.id %}" class="button">View Details</a>
        </div>
        {% empty %}
        <p>No games found</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
