{% extends 'base.html' %}

{% block title %}Games{% endblock %}

{% block content %}
<div class="container">
    <h1 class="section-title">Games</h1>
    <div class="game-list">
        {% for game in games %}
        <div class="game-item">
            <a href="{% url 'game-detail' game.pk %}">
                <div class="game-header">
                    <p>{{ game.get_game_title }}</p> 
                </div>
            </a>
            <ul style="text-indent: 15px;">
            {{ game.date }} - {% if game.in_progress %}In Progress{% else %}Completed{% endif %}
            </ul>
        </div>
        {% empty %}
        <p>No games found</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
