{% extends 'base.html' %}

{% block title %}Games{% endblock %}

{% block content %}
<div class="container">
    <h1 class="section-title">Games</h1>
    <div class="game-list">
        {% for game in games %}
        <div class="game-item">
            <div class="game-header">
                <p>{{ game.left_offense.name }} & {{ game.left_defense.name }} ({{ game.left_wins }} wins)</p>
                <p>{{ game.right_offense.name }} & {{ game.right_defense.name }} ({{ game.right_wins }} wins)</p>
            </div>
            <p>Date: {{ game.date|date:"d M Y" }}</p>
            <a href="{% url 'game-detail' game.id %}" class="button">View Details</a>
        </div>
        {% empty %}
        <p>No games found</p>
        {% endfor %}
    </div>
    <a href="{% url 'game-create' %}" class="button">Add New Game</a>
</div>
{% endblock %}
