<!DOCTYPE html>
<html>
<head>
    <title>Foosball Tracker</title>
</head>
<body>
    <h1>Foosball Game Scores</h1>
    <ul>
    {% for game in games %}
        <li>{{ game.team1 }} vs {{ game.team2 }} on {{ game.date }}
            <ul>
            {% for round in game.rounds.all %}
                <li>Round {{ round.round_number }}: {{ round.team1_score }} - {{ round.team2_score }} ({{ round.side }})</li>
            {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
</body>
</html>
